@import (reference) "@{STATIC_ROOT}rb/css/defs.less";

@items-height: 256px;
@body-height: @items-height + @input-field-height + 1px;
@checklist-width: 256px;
@input-field-height: 24px;
@item-height: 20px;
@item-padding: 4px;

.checklist {
  border-color: @box-border-color;
  border-radius: 6px 6px 0 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  bottom: 0;
  box-shadow: @box-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1em;
  width: 256px;
  z-index: @z-index-dialog;

  a {
    color: black;
    text-decoration: none;
  }
}

.checklist-body {
  background-color: @light-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  transition: all 0.3s ease-out;

  &.hidden {
    margin-bottom: -@body-height;
  }
}

.checklist-items {
  padding: 0;
  height: @items-height;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.checklist-item {
  border-bottom: 1px @box-border-color solid;
  display: flex;
  line-height: @item-height;
  min-height: @item-height;
  position: relative;
  padding: @item-padding;
  vertical-align: baseline;
  white-space: normal;

  &.checked .checklist-item-description {
    color: #888888;
  }

  .fa {
    font-size: 14px;
    padding-left: 6px;
  }

  .checklist-item-edit-accept,
  .checklist-item-edit-cancel {
    display: none;
  }

  .checklist-item-edit,
  .checklist-item-delete {
    display: inline;
  }

  &.editing {
    background-color: white;

    .checklist-item-edit-accept,
    .checklist-item-edit-cancel {
      display: inline;
    }

    .checklist-item-edit,
    .checklist-item-delete {
      display: none;
    }
  }
}

.checklist-item-actions {
  float: right;
  visibility: hidden;

  .checklist-item:hover &,
  .checklist-item.editing & {
    visibility: visible;
  }

  span {
    cursor: pointer;
  }
}

.checklist-header {
  background: #97B6EB;
  border-bottom: 1px @box-border-color solid;
  border-radius: 5px 5px 0 0;
  padding: @item-padding (@item-padding * 2);
  position: relative;
}

.checklist-title {
  font-size: 14px;
  line-height: 14px;
}

.checklist-toggle-size {
  float: right;
  cursor: pointer;
}

.checklist-field {
  border-top: 1px @box-border-color solid;

  input[name="checklist-add-item"] {
    border: 0;
    box-sizing: border-box;
    height: @input-field-height;
    padding: 0 @item-padding;
    width: 100%;
  }
}

.checklist-checkbox-container {
  vertical-align: top;
}

.checklist-description-container {
  flex-grow: 1;
  overflow-wrap: break-word;
  padding-left: @item-padding;
}
